
.maintitle { text-align:center; }

.mainimage1 {   border: solid 2px; 
    border-color: gold; 
    height: 420px; 
    width: 420px ;
    display: block; 
    margin-left: auto; 
    margin-right: auto;}


    .mainimage2 {border: solid 2px; 
        border-color:peru; 
        height: 420px; 
        width: 420px ;
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    float: left;}  
 


    .profile-image { 

        border-radius: 50%;
        border: 5px; 
        border-style: solid; 
        border-color: white; 

    }

    .image-container {
        display: flex;
        gap: 10px; 
    }
    
    .image-container img {
        max-width: 100%;
        height: 450px; 
        width: 450px; 
        margin-right: auto;
        margin-left: auto;

    } 

    .startparagraph { 

        
    }
    